services:
  myapp:
    container_name: PYFAPI
    build: .
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./app:/app
    working_dir: /app
    environment:
      - PYTHONPATH=/app 
    depends_on:
      - db  # <-- добавляем эту строку
    command: 
    - sh
    - -c
    - |
      sleep 5
      alembic upgrade head
      uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
volumes:
  postgres_data:
