version: '3.8'
services:
  myapp:
    container_name: PYFAPI
    build: .
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./app:/app
    working_dir: /app
    environment:
      - PYTHONPATH=/app 
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080